@model IEnumerable<string>

@{
	ViewBag.Title = "Home";
}

<h1>Cities</h1>
<ul class="list">
	@foreach (string city in Model)
	{
		<li>@city</li>
	}
</ul>

<div>@ViewBag.InstanceId_Srv1</div>
<div>@ViewBag.InstanceId_Srv2</div>
<div>@ViewBag.InstanceId_Srv3</div>
