@using RazorViews.Models
@model IEnumerable<Person> // Accessible with Model

@{
	// string appTitle = "Razor Views Example";
	// List<Person> people = new List<Person>() {
	// 	new Person() { Name = "Omer", Birthday = Convert.ToDateTime("1998-07-10") , Gender = Gender.Male},
	// 	new Person() { Name = "Jill", Birthday = Convert.ToDateTime("1999-02-02") , Gender = Gender.Female},
	// 	new Person() { Name = "Claire", Birthday = Convert.ToDateTime("1998-01-10") , Gender = Gender.Female}
	// };
	// List<Person>? people = ((List<Person>?)ViewData["people"]);
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["pageTitle"]</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
	<div class="page-content">
		<h1>Welcome</h1>
		@foreach (Person person in Model)
		{
			<div class="box float-left">
				<h3>@person.Name</h3>
				<table class="table w-100">
					<tbody>
						<tr>
							<td>Gender</td>
							<td>@person.Gender</td>
						</tr>
						<tr>
							<td>Birthday</td>
							<td>@person.Birthday.Value.ToString("dd/MM/yyyy")</td>
						</tr>
					</tbody>
				</table>
				<a href="/details/@person.Name">Details</a>
				<div>
					<a href="/person-product">Person with Product</a>
				</div>
			</div>
		}
	</div>
</body>
</html>