<!DOCSTYLE html>
<html>
	<head>
		<title>Config Demo</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<div>
			<h1>@ViewBag.ClientID</h1>
			<h1>@ViewBag.ClientSecret</h1>
		</div>
	</body>
</html>